// Helpers
@import "helpers/variables";
@import "helpers/mixins";

// Vendor (Вендорные стили. Например от плагинов)
@import "vendor/slick";
@import "vendor/jquery.formstyler.css";
// Common (основные стили.)
@import "common/default";
//@import "common/fonts";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@500;600&family=Roboto:wght@400;700&display=swap');

// Components (мелкие визуальные элементы)
button {
  height: 56px;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  background: #53B7E8;
  border: 1px solid #53B7E8;
  color: #F8F8F8;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.btn {
  height: 56px;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  background: #53B7E8;
  border: 1px solid #53B7E8;
  color: #F8F8F8;
  cursor: pointer;
  @include transition();

  &:hover {
    background: #1698d0;
    border: 1px solid #1698d0;
  }

  &-border {
    background: transparent;
    color: #53B7E8;
  }

  &-filter {
    padding-left: 30px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: transparent;
    color: $blue;
    position: relative;
    display: flex;
    align-items: center;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url(../images/icons/filter.svg);
      left: 0;
    }
  }
}

label {
  cursor: pointer;
}

// Modules (большие куски. Шапка, футер, продукт)
@import "modules/header";
@import "modules/nav";
@import "modules/footer";

// Pages (стили, котрые нужно применить для конкретной страницы)
@import "pages/landing";
*, body {
  font-family: 'Noto Sans Armenian', 'Roboto';
  font-weight: 500;
  color: $blue;
}

.wrapper {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  line-height: 40px;
}

.sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-size: 20px;
  line-height: 28px;
}

.logo {
  max-width: 131px;
  width: 100%;

  img {
    width: 100%;
  }
}


.slider {
  padding: 56px 0;
  position: relative;

  .slick-arrow {
    position: absolute;
    right: 0;
    top: 7px;
    width: 42px;
    height: 42px;
    border: none;
    background-color: transparent;
    background-image: url(../images/slider/slider-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    font-size: 0;
    cursor: pointer;
  }

  .slick-prev {
    right: 56px;
    background-image: url(../images/slider/slider-arrow-right.svg);
  }
}


#map {
  min-height: 200px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 78px;

  img {
    width: 100%;
  }
}

span.number {
  color: $white;
}

.select {
  max-width: 400px;
  width: 100%;
  border: 2px solid #1A4860;
  box-sizing: border-box;
  border-radius: 4px;
  color: #1A4860;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-selectbox__select {
    padding: 8px 5px;
  }

  .jq-selectbox__dropdown {
    width: 100%;
    border: 2px solid #1A4860;
    left: -2px;
    background: $white;

    li {
      margin: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.input-checkbox {
  width: fit-content;

  input {
    display: none;
  }

  label {
    font-size: 16px;
    line-height: 20px;
    padding: 0 30px;
    position: relative;

    span {
      color: #53B7E8;
    }

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #53B7E8;
      box-sizing: border-box;
      border-radius: 4px;
      left: 0;
    }

  }

  input:checked + label {
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/checkbox.svg');
      background-repeat: no-repeat;
      background-position: center;
      left: 1px;
      top: 0;
    }
  }
}
.input-group {
  position: relative;
  margin: 25px 0;

  input {
    padding: 0px 20px;
    margin: 10px 0px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(26, 72, 96, 0.38);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #1A4860;
    outline: none;

    &::placeholder {
      font-size: 0;
    }
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 56px;
    font-size: 18px;
    line-height: 19px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-active {
    input {
      &::placeholder {
        font-size: 16px;
      }
    }

    label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.0015em;
      margin: 0px 2px;
      top: 0;
      min-height: auto;
      width: fit-content;
      background: $white;
      padding: 0 3px;
      left: 7px;
    }
  }

  &-now {
    input {
      border-color: #53B7E8;
    }
  }
}


@media screen and (max-width: 767px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
    height: 48px;
  }
  .title {
    font-size: 28px;
    line-height: 32px;
  }
  .description {
    font-size: 16px;
    line-height: 20px;
  }
}

.select2-search__field {
  position: relative;
  width: 100% !important;

  &::before {
    content: 'Ընտրեք ոլորտները';
    position: absolute;

  }
}

.select2-selection__rendered {
  //display: none !important;
}

.new-select {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0 7px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

  }


  &-title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 8px 5px;
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 3;
  }

  &-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  &-list {
    display: none;
    position: absolute;
    width: 100%;
    border: 2px solid #000000;
    max-height: 200px;
    overflow: auto;
    top: 49px;
    left: -2px;
    background: $white;
    border-radius: 4px;
    z-index: 1;
  }

  &-item {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 5px;
    color: #000000;
    cursor: pointer;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }

  &-active {
    &::before {
      transform: translateY(-50%) rotate(180deg);
    }

    .new-select-list {
      display: block;

    }

    .new-select-bg {
      display: block;
    }
  }

}

.d-flex {
  display: flex;
}