/* Slider */
@import url(vendor/jquery.formstyler.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@500;600&family=Roboto:wght@400;700&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.date-picker {
  width: 170px;
  height: 25px;
  padding: 0;
  border: 0;
  line-height: 25px;
  padding-left: 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #303030;
  position: relative;
  z-index: 2; }

.date-picker-wrapper {
  position: absolute;
  z-index: 1;
  border: 1px solid #bfbfbf;
  background-color: #efefef;
  padding: 5px 12px;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  font-family: Arial, sans-serif;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  box-sizing: initial; }

.dp-clearfix {
  clear: both;
  height: 0;
  font-size: 0; }

.date-picker-wrapper.inline-wrapper {
  position: relative;
  box-shadow: none;
  display: inline-block; }
.date-picker-wrapper.single-date {
  width: auto; }
.date-picker-wrapper.no-shortcuts {
  padding-bottom: 12px; }
.date-picker-wrapper.no-topbar {
  padding-top: 12px; }
.date-picker-wrapper .footer {
  font-size: 11px;
  padding-top: 3px; }
.date-picker-wrapper b {
  color: #666;
  font-weight: 700; }
.date-picker-wrapper a {
  color: #6bb4d6;
  text-decoration: underline; }
.date-picker-wrapper .month-name {
  text-transform: uppercase; }
.date-picker-wrapper .select-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }
  .date-picker-wrapper .select-wrapper:hover {
    text-decoration: underline; }
.date-picker-wrapper .month-element {
  display: inline-block;
  vertical-align: middle; }
.date-picker-wrapper .select-wrapper select {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: -1px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 0.01; }
.date-picker-wrapper .month-wrapper {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
  cursor: default;
  position: relative;
  _overflow: hidden; }
  .date-picker-wrapper .month-wrapper table {
    width: 190px;
    float: left; }
    .date-picker-wrapper .month-wrapper table.month2 {
      width: 190px;
      float: left; }
    .date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td {
      vertical-align: middle;
      text-align: center;
      line-height: 14px;
      margin: 0px;
      padding: 0px; }
    .date-picker-wrapper .month-wrapper table .day {
      padding: 5px 0;
      line-height: 1;
      font-size: 12px;
      margin-bottom: 1px;
      color: #ccc;
      cursor: default; }
    .date-picker-wrapper .month-wrapper table div.day.lastMonth, .date-picker-wrapper .month-wrapper table div.day.nextMonth {
      color: #999;
      cursor: default; }
    .date-picker-wrapper .month-wrapper table .day.checked {
      background-color: #9cdbf7; }
    .date-picker-wrapper .month-wrapper table .week-name {
      height: 20px;
      line-height: 20px;
      font-weight: 100;
      text-transform: uppercase; }
    .date-picker-wrapper .month-wrapper table .day.has-tooltip {
      cursor: help !important; }
      .date-picker-wrapper .month-wrapper table .day.has-tooltip .tooltip {
        white-space: nowrap; }
.date-picker-wrapper .time label {
  white-space: nowrap; }
.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  color: #333;
  cursor: pointer; }
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background-color: #cdecfa; }
.date-picker-wrapper .month-wrapper table .day.nextMonth, .date-picker-wrapper .month-wrapper table .day.lastMonth {
  display: none; }
.date-picker-wrapper .month-wrapper table .day.real-today {
  background-color: #ffe684; }
  .date-picker-wrapper .month-wrapper table .day.real-today.checked, .date-picker-wrapper .month-wrapper table .day.real-today.hovering {
    background-color: #70ccd5; }
.date-picker-wrapper table .caption {
  height: 40px; }
  .date-picker-wrapper table .caption > th:first-of-type, .date-picker-wrapper table .caption > th:last-of-type {
    width: 27px; }
  .date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
    padding: 0 5px;
    cursor: pointer; }
  .date-picker-wrapper table .caption .next:hover, .date-picker-wrapper table .caption .prev:hover {
    background-color: #ccc;
    color: white; }
.date-picker-wrapper .gap {
  position: relative;
  z-index: 1;
  width: 15px;
  height: 100%;
  background-color: red;
  font-size: 0;
  line-height: 0;
  float: left;
  top: -5px;
  margin: 0 10px -10px;
  visibility: hidden;
  height: 0; }
  .date-picker-wrapper .gap .gap-lines {
    height: 100%;
    overflow: hidden; }
  .date-picker-wrapper .gap .gap-line {
    height: 15px;
    width: 15px;
    position: relative; }
    .date-picker-wrapper .gap .gap-line .gap-1 {
      z-index: 1;
      height: 0;
      border-left: 8px solid white;
      border-top: 8px solid #eee;
      border-bottom: 8px solid #eee; }
    .date-picker-wrapper .gap .gap-line .gap-2 {
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 2;
      height: 0;
      border-left: 8px solid transparent;
      border-top: 8px solid white; }
    .date-picker-wrapper .gap .gap-line .gap-3 {
      position: absolute;
      right: 0;
      top: 8px;
      z-index: 2;
      height: 0;
      border-left: 8px solid transparent;
      border-bottom: 8px solid white; }
  .date-picker-wrapper .gap .gap-top-mask {
    width: 6px;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 1px;
    background-color: #eee;
    z-index: 3; }
  .date-picker-wrapper .gap .gap-bottom-mask {
    width: 6px;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 7px;
    background-color: #eee;
    z-index: 3; }
.date-picker-wrapper .selected-days {
  display: none; }
.date-picker-wrapper .drp_top-bar {
  line-height: 1.4;
  position: relative;
  padding: 10px 40px 10px 0; }
  .date-picker-wrapper .drp_top-bar .error-top, .date-picker-wrapper .drp_top-bar .normal-top {
    display: none; }
  .date-picker-wrapper .drp_top-bar .default-top {
    display: block; }
  .date-picker-wrapper .drp_top-bar.error .default-top {
    display: none; }
  .date-picker-wrapper .drp_top-bar.error .error-top {
    display: block;
    color: red; }
  .date-picker-wrapper .drp_top-bar.normal .default-top {
    display: none; }
  .date-picker-wrapper .drp_top-bar.normal .normal-top {
    display: block; }
    .date-picker-wrapper .drp_top-bar.normal .normal-top .selection-top {
      color: #333; }
  .date-picker-wrapper .drp_top-bar .apply-btn {
    position: absolute;
    right: 0px;
    top: 6px;
    padding: 3px 5px;
    margin: 0;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    color: white;
    line-height: initial; }
    .date-picker-wrapper .drp_top-bar .apply-btn.disabled {
      cursor: pointer;
      color: #606060;
      border: solid 1px #b7b7b7;
      background: #fff;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
      background: -moz-linear-gradient(top, #fff, #ededed);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
.date-picker-wrapper .time {
  position: relative; }
.date-picker-wrapper.single-month .time {
  display: block; }
.date-picker-wrapper .time input[type=range] {
  vertical-align: middle;
  width: 129px;
  padding: 0;
  margin: 0;
  height: 20px; }
.date-picker-wrapper .time1 {
  width: 180px;
  padding: 0 5px;
  text-align: center; }

/*time styling*/
.time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center; }

.date-picker-wrapper .time1 {
  float: left; }
.date-picker-wrapper .time2 {
  float: right; }
.date-picker-wrapper .hour {
  text-align: right; }

.minute {
  text-align: right; }

.date-picker-wrapper .hide {
  display: none; }
.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
  background-color: #49e !important;
  color: white !important; }
.date-picker-wrapper .date-range-length-tip {
  position: absolute;
  margin-top: -4px;
  margin-left: -8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
  background-color: yellow;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3)); }
  .date-picker-wrapper .date-range-length-tip:after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid yellow;
    left: 50%;
    margin-left: -4px;
    bottom: -4px; }
.date-picker-wrapper.two-months.no-gap .month1 .next, .date-picker-wrapper.two-months.no-gap .month2 .prev {
  display: none; }
.date-picker-wrapper .week-number {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #999;
  cursor: pointer; }
  .date-picker-wrapper .week-number.week-number-selected {
    color: #49e;
    font-weight: bold; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

a {
  text-decoration: none;
  color: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

input[type="submit"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input {
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  box-sizing: border-box;
  padding: 5px 10px; }

button {
  height: 56px;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  background: #53B7E8;
  border: 1px solid #53B7E8;
  color: #F8F8F8;
  cursor: pointer;
  z-index: 2;
  position: relative; }

.btn {
  height: 56px;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  background: #53B7E8;
  border: 1px solid #53B7E8;
  color: #F8F8F8;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    background: #1698d0;
    border: 1px solid #1698d0;
    color: #F8F8F8; }
  .btn-border {
    background: transparent;
    color: #53B7E8; }
    .btn-border:hover {
      background: transparent;
      border: 1px solid #1698d0;
      color: #53B7E8; }
  .btn-transparent {
    background: transparent;
    border: 1px solid transparent;
    color: #53B7E8; }
    .btn-transparent:hover {
      background: transparent;
      border: 1px solid #1698d0;
      color: #53B7E8; }
  .btn-filter {
    padding-left: 30px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: transparent;
    color: #1A4860;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: unset; }
    .btn-filter::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("/assets/images/icons/filter.svg");
      background-repeat: no-repeat;
      background-position: center;
      left: 0; }

label {
  cursor: pointer; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background: #ffffff; }
  .header-top {
    background: #1A4860;
    width: 100%;
    height: 40px; }
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0; }

@media screen and (max-width: 900px) {
  .header-top {
    height: 20px; } }
.nav-list {
  display: flex;
  align-items: center; }
.nav-item {
  margin: 0 20px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: text-decoration 0.3 ease;
  -ms-transition: text-decoration 0.3 ease;
  -moz-transition: text-decoration 0.3 ease;
  -o-transition: text-decoration 0.3 ease;
  transition: text-decoration 0.3 ease; }
  .nav-item:hover {
    text-decoration: underline; }
  .nav-item:nth-child(1) {
    margin-left: 0; }
  .nav-item:nth-last-child(1) {
    margin-right: 0; }
.nav-login {
  padding-right: 28px;
  position: relative;
  font-weight: 600; }
  .nav-login::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -3px;
    top: -2px;
    background-image: url(/assets/images/icons/user.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }

.user-page .nav-item {
  margin: 0 12px; }
  .user-page .nav-item:nth-last-child(1) {
    margin-right: 0; }

.menu__icons {
  display: none;
  width: 25px;
  cursor: pointer;
  position: relative;
  z-index: 11; }
  .menu__icons > div {
    width: 100%;
    height: 2px;
    margin-bottom: 6px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #000E2F;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    top: 0; }
    .menu__icons > div:last-child {
      margin-bottom: 0; }
  .menu__icons-active div:nth-child(2n) {
    opacity: 0.01; }
  .menu__icons-active div:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px; }
  .menu__icons-active div:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -8px; }

.saved {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/saved.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .saved:hover, .saved.active {
    background-image: url("../images/icons/saved-active.svg"); }

.notifications {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/notifications.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .notifications:hover, .notifications.active {
    background-image: url("../images/icons/notifications-active.svg"); }
  .notifications.has-notifications {
    position: relative; }
    .notifications.has-notifications::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: #FB2424;
      border-radius: 50%;
      right: 0; }

@media screen and (max-width: 900px) {
  .nav .nav-list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #fff;
    left: -100vw;
    top: 83px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1; }
  .nav .nav-item {
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box; }
  .nav.active {
    display: block; }
    .nav.active .nav-list {
      left: 0; }

  .menu__icons {
    display: block; } }
.footer {
  background-color: #1A4860;
  padding: 97px 0 0;
  position: relative;
  z-index: 3; }
  .footer__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff; }
  .footer__list {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .footer__item {
    width: 25%; }
    .footer__item:nth-last-child(1) {
      width: 50%; }
    .footer__item ul {
      margin: 24px 0; }
      .footer__item ul li {
        margin: 16px 0; }
        .footer__item ul li a {
          font-size: 18px;
          line-height: 24px;
          color: #ffffff;
          padding-left: 40px;
          position: relative;
          display: flex;
          align-items: center; }
          .footer__item ul li a::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: 0; }
          .footer__item ul li a.email:before {
            background-image: url("../images/icons/email.svg"); }
          .footer__item ul li a.phone:before {
            background-image: url("../images/icons/phone.svg"); }
          .footer__item ul li a.youtube:before {
            background-image: url("../images/icons/youtube.svg"); }
          .footer__item ul li a.facebook:before {
            background-image: url("../images/icons/facebook.svg"); }
          .footer__item ul li a.linkedin:before {
            background-image: url("../images/icons/linkedin.svg"); }
          .footer__item ul li a.map:before {
            background-image: url("../images/icons/map.svg"); }
  .footer__info {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 16px; }

#map {
  min-height: 200px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 78px; }
  #map img {
    width: 100%; }

@media screen and (max-width: 1023px) {
  .footer__list {
    flex-wrap: wrap; }
  .footer__item {
    width: 50%; }
    .footer__item:nth-last-child(1) {
      width: 100%;
      margin-top: 30px; } }
@media screen and (max-width: 767px) {
  .footer__item {
    width: 100%;
    margin-top: 30px; }
    .footer__item:nth-child(1) {
      margin-top: 0; } }
*, body {
  font-family: 'Noto Sans Armenian', 'Roboto';
  font-weight: 500;
  color: #1A4860; }

.wrapper {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }

.title {
  font-size: 36px;
  line-height: 40px; }

.sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px; }

.sub-title-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 16px 0; }
  .sub-title-2 b {
    font-weight: 600; }

.description {
  font-size: 20px;
  line-height: 28px; }

.d-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.logo {
  max-width: 131px;
  width: 100%; }
  .logo img {
    width: 100%; }

.select {
  max-width: 400px;
  width: 100%;
  border: 2px solid #1A4860;
  box-sizing: border-box;
  border-radius: 4px;
  color: #1A4860;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  position: relative;
  z-index: 2; }
  .select::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("/assets/images/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 12px;
    top: 50%;
    transform: translateY(-50%); }
  .select .jq-selectbox__select {
    padding: 8px 5px; }
  .select .jq-selectbox__dropdown {
    width: 100%;
    border: 2px solid #1A4860;
    left: -2px;
    background: #ffffff; }
    .select .jq-selectbox__dropdown li {
      margin: 5px; }
      .select .jq-selectbox__dropdown li:hover {
        text-decoration: underline; }

.input-checkbox {
  width: fit-content;
  margin: 14px 0; }
  .input-checkbox input {
    display: none; }
  .input-checkbox label {
    font-size: 16px;
    line-height: 20px;
    padding: 0 30px;
    position: relative; }
    .input-checkbox label span {
      color: #53B7E8; }
    .input-checkbox label:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #1A4860;
      box-sizing: border-box;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
      left: 0; }
  .input-checkbox input:checked + label:before {
    border: 1px solid #53B7E8;
    background-image: url("/assets/images/icons/checkbox.svg"); }

.input-group {
  position: relative;
  margin: 25px 0; }
  .input-group input {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0px 20px;
    margin: 10px 0px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(26, 72, 96, 0.38);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #1A4860;
    outline: none; }
    .input-group input::placeholder {
      font-size: 0; }
  .input-group label {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 56px;
    font-size: 18px;
    line-height: 19px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .input-group-active input::placeholder {
    font-size: 16px; }
  .input-group-active label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0015em;
    margin: 0px 2px;
    top: 0;
    min-height: auto;
    width: fit-content;
    background: #ffffff;
    padding: 0 3px;
    left: 7px; }
  .input-group-now input {
    border-color: #53B7E8; }

.input-radio input {
  display: none; }
.input-radio input:checked + label::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #53B7E8;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  left: 2px;
  top: 50%;
  transform: translateY(-50%); }
.input-radio input:checked + label::before {
  background: #1A4860; }
.input-radio label {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-left: 33px;
  position: relative; }
  .input-radio label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #1A4860;
    box-sizing: border-box;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }

.new-select {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0 7px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative; }
  .new-select::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("/assets/images/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
  .new-select-title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 8px 5px;
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 3; }
  .new-select-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none; }
  .new-select-list {
    display: none;
    position: absolute;
    width: 100%;
    border: 2px solid #000000;
    max-height: 200px;
    overflow: auto;
    top: 49px;
    left: -2px;
    background: #ffffff;
    border-radius: 4px;
    z-index: 3; }
  .new-select-item {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 5px;
    color: #000000;
    cursor: pointer; }
    .new-select-item input {
      display: none; }
    .new-select-item .input-checkbox {
      margin: 0; }
  .new-select-active::before {
    transform: translateY(-50%) rotate(180deg); }
  .new-select-active .new-select-list {
    display: block; }
  .new-select-active .new-select-bg {
    display: block; }
  .new-select_main-filter {
    border-color: rgba(26, 72, 96, 0.5);
    height: 40px;
    min-width: 240px;
    max-width: 300px; }
    .new-select_main-filter .new-select-list {
      top: 37px;
      border-color: rgba(26, 72, 96, 0.5); }
      .new-select_main-filter .new-select-list::-webkit-scrollbar {
        width: 4px; }
      .new-select_main-filter .new-select-list::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(26, 72, 96, 0.5); }
    .new-select_main-filter .new-select-item {
      font-size: 16px; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination__list {
    display: flex;
    align-items: center; }
  .pagination__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    cursor: pointer; }
    .pagination__item.active {
      opacity: 0.5;
      cursor: default; }
  .pagination__prev {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px; }
    .pagination__prev::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
      background-image: url("/assets/images/slider/slider-arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .pagination__next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pagination__next::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/slider/slider-arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .pagination__disabled {
    opacity: 0.5;
    cursor: default; }

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .modal__container {
    width: 616px;
    min-height: 250px;
    max-height: 95vh;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 4px;
    padding: 64px;
    box-shadow: 0px -2px 30px #DADADA;
    margin: 10px auto;
    box-sizing: border-box; }
  .modal .close {
    position: fixed;
    right: 12px;
    top: 10px;
    z-index: 7;
    width: 100%;
    height: 52px; }
    .modal .close::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("../images/icons/close.svg") no-repeat center center;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
  .modal-form {
    margin: 40px 0 0; }
    .modal-form .description {
      font-size: 16px;
      line-height: 20px; }
    .modal-form .btn {
      width: 100%;
      margin: 8px 0; }
      .modal-form .btn:nth-last-child(1) {
        margin-bottom: 0; }
    .modal-form__more {
      display: flex;
      justify-content: space-between;
      margin: -7px 0 24px; }
      .modal-form__more .remove {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px; }

@media screen and (max-width: 767px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
    height: 48px; }

  .title {
    font-size: 28px;
    line-height: 32px; }

  .description {
    font-size: 16px;
    line-height: 20px; } }
.sidebar {
  max-width: 301px;
  width: 100%;
  background: #F8F8F8;
  padding-top: 36px; }
  .sidebar .user-name {
    padding: 0 10px;
    box-sizing: border-box; }
  .sidebar__list {
    margin: 38px 0 0; }
  .sidebar__item {
    font-size: 20px;
    line-height: 32px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 28px 0;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer; }
    .sidebar__item:nth-child(1) {
      margin-top: 0; }
    .sidebar__item:nth-last-child(1) {
      margin-bottom: 0; }
    .sidebar__item:hover, .sidebar__item.active {
      background: #53B7E8;
      color: #FDFEFF; }
    .sidebar__item .icon {
      width: 48px;
      height: 48px;
      background-image: url("/assets/images/icons/sidebar__item-1.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 9px; }
    .sidebar__item-1 .icon {
      background-image: url("/assets/images/icons/sidebar__item-1.svg"); }
    .sidebar__item-1:hover .icon, .sidebar__item-1.active .icon {
      background-image: url("/assets/images/icons/sidebar__item-1-active.svg"); }
    .sidebar__item-2 .icon {
      background-image: url("/assets/images/icons/sidebar__item-2.svg"); }
    .sidebar__item-2:hover .icon, .sidebar__item-2.active .icon {
      background-image: url("/assets/images/icons/sidebar__item-2-active.svg"); }
    .sidebar__item-3 .icon {
      background-image: url("/assets/images/icons/sidebar__item-3.svg"); }
    .sidebar__item-3:hover .icon, .sidebar__item-3.active .icon {
      background-image: url("/assets/images/icons/sidebar__item-3-active.svg"); }
    .sidebar__item-4 .icon {
      background-image: url("/assets/images/icons/sidebar__item-4.svg"); }
    .sidebar__item-4:hover .icon, .sidebar__item-4.active .icon {
      background-image: url("/assets/images/icons/sidebar__item-4-active.svg"); }
    .sidebar__item-5 .icon {
      background-image: url("/assets/images/icons/sidebar__item-5.svg"); }

.main {
  margin: 100px 0;
  min-height: 600px; }
  .main-content {
    width: calc(100% - 301px);
    margin-top: 36px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-left: auto; }
    .main-content-filter {
      display: flex;
      align-items: flex-end; }
      .main-content-filter__item {
        width: 28%; }
        .main-content-filter__item:nth-last-child(1) {
          display: flex;
          justify-content: center; }
    .main-content__tabs {
      display: flex;
      align-items: center; }
    .main-content__tab {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      padding: 8px 16px;
      box-sizing: border-box;
      margin: 0 13px; }
      .main-content__tab:nth-child(1) {
        margin-left: 0; }
      .main-content__tab:nth-last-child(1) {
        margin-right: 0; }
      .main-content__tab.active {
        background: #53B7E8;
        color: #ffffff; }
  .main-inner {
    display: flex;
    justify-content: space-between; }
  .main-filter__res-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 23px 0 16px; }
  .main-filter__res-item {
    background: #D9D9D9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #1A4860;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 8px 21px;
    cursor: pointer; }
    .main-filter__res-item:nth-last-child(1) {
      margin-right: 0; }
  .main .btn {
    height: 48px;
    padding: 0 23px; }

.input-radio:not(:last-child) {
  margin-right: 14px; }
.input-radio-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px; }
.input-radio-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 8px 0; }

.blog {
  margin: 24px 0; }
  .blog.blog-single {
    margin: 0; }
  .blog-item {
    margin: 16px 0;
    padding: 16px;
    box-sizing: border-box;
    background: #F8F8F8;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    position: relative; }
    .blog-item b {
      font-weight: 600; }
    .blog-item .saved {
      position: absolute;
      top: 16px; }
  .blog-left .type {
    margin-bottom: 20px; }
  .blog-left .date {
    margin-bottom: 16px; }
  .blog-left .field {
    margin-bottom: 8px; }
  .blog-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    .blog-right .btn {
      margin-left: 16px; }

.pdf {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icons/pdf.svg");
  background-repeat: no-repeat;
  background-position: center; }

#chartContainer {
  min-height: 450px;
  margin-top: 10px; }
  #chartContainer .canvasjs-chart-credit {
    display: none; }

.setting-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
.setting-item {
  margin-bottom: 34px; }
  .setting-item .main-filter__res-list {
    margin: 16px 0; }
  .setting-item .text-right {
    text-align: right;
    font-size: 18px; }
    .setting-item .text-right b {
      font-weight: 600; }
  .setting-item span.green {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #00A775; }
  .setting-item .input-group {
    max-width: 434px;
    margin: 16px 0; }
  .setting-item .btn {
    margin-top: 14px; }

.notification-list {
  margin: 24px 0; }
.notification-item {
  background: #F8F8F8;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
  box-sizing: border-box;
  position: relative; }
  .notification-item .close {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../images/icons/close.svg") no-repeat center center;
    cursor: pointer; }
.notification-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
.notification-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px; }
.notification-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #00A775; }
.notification-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px; }
  .notification-body .description {
    width: calc(100% - 30px);
    max-width: 620px;
    font-size: 16px;
    line-height: 20px;
    color: #1A4860; }

.navigation {
  display: flex;
  flex-wrap: wrap; }
  .navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    position: relative; }
    .navigation__item::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: url("/assets/images/icons/navigation-arrow.svg") no-repeat center center; }
    .navigation__item:nth-last-child(1) {
      padding-right: 0;
      opacity: 0.5; }
      .navigation__item:nth-last-child(1)::before {
        content: unset; }

.blog-details {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px; }
  .blog-details .m15-0 {
    margin: 15px 0; }
  .blog-details b {
    font-weight: 600;
    margin: 0 12px; }
    .blog-details b.pr-10 {
      margin: 0; }
  .blog-details .btn {
    min-width: 251px; }
  .blog-details__information {
    margin: 12px 0;
    display: flex; }
    .blog-details__information b {
      font-weight: 600; }
    .blog-details__information li {
      margin: 17px 0;
      padding: 0 9px;
      box-sizing: border-box; }
    .blog-details__information-1 {
      margin: 12px 0;
      display: flex; }
      .blog-details__information-1 li {
        margin: 8px 0;
        padding: 0 6px;
        box-sizing: border-box; }
    .blog-details__information-left {
      text-align: right; }
    .blog-details__information-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 15px 0; }
    .blog-details__information-item {
      display: flex;
      padding: 8px 6px;
      box-sizing: border-box; }
      .blog-details__information-item b {
        width: fit-content; }
      .blog-details__information-item .text-no-wrap {
        white-space: nowrap; }
      .blog-details__information-item .pr-10 {
        padding-right: 10px; }
      .blog-details__information-item.w-100 {
        width: 100%; }
      .blog-details__information-item.w-55 {
        width: 55%; }
      .blog-details__information-item.w-45 {
        width: 45%; }
  .blog-details__time-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px; }
  .blog-details__time-list {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    width: 100%;
    background: #F8F8F8;
    box-shadow: 0px 2px 25px -8px rgba(191, 191, 191, 0.25); }
  .blog-details__time-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-right: 1px solid #EBEBEB;
    box-sizing: border-box;
    padding: 11px 24px 11px 9px; }
    .blog-details__time-item .percent {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px; }
    .blog-details__time-item:nth-child(even) {
      border-right: 0; }

.table {
  background: #F8F8F8;
  box-shadow: 0px 2px 25px -8px rgba(191, 191, 191, 0.25);
  margin: 0 27px; }
  .table-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center; }
    .table-item .text {
      padding: 10px 7px;
      border-right: 1px solid #EBEBEB;
      box-sizing: border-box; }
    .table-item .percent {
      padding: 10px 18px;
      font-weight: 600;
      box-sizing: border-box; }

.user-settings {
  max-width: 600px;
  width: 100%; }
  .user-settings .input-group {
    max-width: 436px;
    width: 100%;
    margin: 23px 0 0; }
  .user-settings .input-radio-group {
    margin-bottom: 33px; }
  .user-settings-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .user-settings-header__item {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      opacity: 0.5;
      cursor: pointer;
      margin-bottom: 10px; }
      .user-settings-header__item:not(:last-child) {
        margin-right: 40px; }
      .user-settings-header__item.active {
        opacity: 1; }
  .user-settings .buttons-group {
    margin: 16px 0 0; }

.download-pdf {
  margin-right: 27px; }
  .download-pdf::before {
    background-image: url(/assets/images/icons/download-pdf.svg); }

.download-doc::before {
  background-image: url(/assets/images/icons/download-docx.svg); }

.download-file::before {
  background-image: url(/assets/images/icons/download-file.svg); }

.download-contract::before {
  background-image: url(/assets/images/icons/download-contract.svg); }

.download-contract,
.download-file,
.download-pdf,
.download-doc {
  padding: 12px 0 12px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: inline-flex;
  align-items: center; }
  .download-contract input,
  .download-file input,
  .download-pdf input,
  .download-doc input {
    display: none; }
  .download-contract::before,
  .download-file::before,
  .download-pdf::before,
  .download-doc::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0; }

@media screen and (max-width: 900px) {
  .main-content {
    width: 100%;
    padding-left: 0; }

  .sidebar {
    display: none; } }
@media screen and (max-width: 767px) {
  .main {
    min-height: auto;
    margin: 70px 0 40px; }
    .main-content-filter {
      flex-wrap: wrap; }
      .main-content-filter__item {
        width: 50%; }
        .main-content-filter__item:nth-last-child(1) {
          justify-content: flex-start; }
    .main-content__tab {
      font-size: 14px;
      line-height: 20px;
      padding: 8px 12px; }
    .main-filter__res-list {
      margin: 20px 0; }
    .main-filter__res-item {
      padding: 8px 16px; }

  .blog-item {
    flex-direction: column; }
  .blog-left {
    margin-bottom: 15px; }
  .blog-right .text {
    margin-bottom: 15px; }

  .blog-details__information-item {
    flex-wrap: wrap; }
    .blog-details__information-item.w-55, .blog-details__information-item.w-45 {
      width: 100%; }

  .blog-details__information li:not(:nth-child(1)) {
    height: 40px;
    display: flex;
    align-items: center; }
  .blog-details__information li:nth-child(4) {
    height: 60px;
    display: flex;
    align-items: center; } }

/*# sourceMappingURL=person.css.map */
